[submodule "plugins/repos/github.com/Shougo/dein.vim"]
	path = plugins/repos/github.com/Shougo/dein.vim
	url = git@github.com:Shougo/dein.vim.git
[submodule "plugins/repos/github.com/benekastah/neomake"]
	path = plugins/repos/github.com/benekastah/neomake
	url = https://github.com/benekastah/neomake.git
[submodule "plugins/repos/github.com/fatih/vim-go"]
	path = plugins/repos/github.com/fatih/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "plugins/repos/github.com/vim-airline/vim-airline"]
	path = plugins/repos/github.com/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugins/repos/github.com/vim-airline/vim-airline-themes"]
	path = plugins/repos/github.com/vim-airline/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
